# project files
.vscode
Copy-SOC.ps1
NOTES.md
Run-SOC.ps1
SOC-MAIN-PROJECT.code-workspace
Unset-Read-Only.ps1

# debugging files
gamedata/scripts/show_on_hud.script
gamedata/scripts/ui_main_menu.script
